﻿@page "/guide"

<h1>Guide</h1>

<p>Here the regular user will be able to see the guide.</p>

<ul class="list-group">
    <li class="list-group-item">
        Complete something
    </li>
    <li class="list-group-item">
        Do something
    </li>
    <li class="list-group-item">
        Talk to someone
    </li>
    <li class="list-group-item">
        Kill something
    </li>
</ul>

@code {

}
