﻿@page "/quests/{id}"

<h1>Quest --insert name-- id is @ID</h1>

<p>Here you can see information about a quest as well as the steps for completion.</p>

<ul class="list-group">
    <li class="list-group-item">
        talk to someone
    </li>
    <li class="list-group-item">
        fetch something
    </li>
</ul>

@code {
    [Parameter]
    public string ID { get; set; }
}
