﻿@page "/quests"

<h1>Quests</h1>

<p>Here you can see a list of quests. By clicking on a quest, you'll be able to alter their steps.</p>

<ul class="list-group">
    <li class="list-group-item">
        <NavLink class="nav-link" href="quests/5">
            Druidic Ritual
        </NavLink>
    </li>
    <li class="list-group-item">
        <NavLink class="nav-link" href="quests/6">
            Cook's assistant
        </NavLink>
    </li>
</ul>

<br />

@if (creatingNew)
{

}
else
{
    <MatButton Raised="true" OnClick="@NewClick"><i class="fas fa-plus-square"></i> &nbsp; New</MatButton>
}


@code {
    bool creatingNew = false;

    void NewClick (MouseEventArgs e)
    {
        creatingNew = true;
    }

    void Create (MouseEventArgs e)
    {

    }

}
